include ChangeLog
include LICENSE
include README
include irssinotifier/data/*.png
exclude irssinotifier/data/*.xpm
include irssinotifier/data/glade/prefs.glade
include irssinotifier/i18n/*/LC_MESSAGES/*.mo
exclude irssinotifier/i18n/*/LC_MESSAGES/*.po
exclude irssinotifier/i18n/irssinotifier.pot
exclude gentoo
